.home-page {
  .col-red {
    background: red;
    height: 100px;
  }
  .col-blue {
    background: blue;
    height: 100px;
  }
  .col-gray {
    background: gray;
    height: 100px;
  }
}
.video-react {
  padding: 0 !important;
}
